:root {
    --bg-primary: #0a0d14;
    --bg-card: #131826;
    --bg-input: #1b2234;

    --text-primary: #ffffff;
    --text-secondary: #94a3b8;

    --accent-yellow: #facc15;
    --accent-pink: #f43f5e;
    --accent-blue: #43c4fc;

    --border-color: #273046;
}